<%= simple_form_for(@user, html: {class: ''}) do |f| %>
    <div class="row">
        <div class="span6">
        </div>
        <div class="span5">
            <%= f.error_notification %>
            <div class="input-prepend">
                  <span class="add-on">Email</span>
                    <%= f.text_field :email %>
            </div> 
                <%= f.input :role, :collection => User::ROLES, include_blank: 'Role', label: false %>
            <div class="input-prepend">
                  <span class="add-on">Password</span>
                    <%= f.text_field :password %>
            </div>
            <div class="input-prepend">
                  <span class="add-on">Password Confirmation</span>
                    <%= f.text_field :password_confirmation %>
            </div>
            <%= f.hidden_field :account_id, :value => current_user.account_id %>
        </div>
    </div>
    <div class="row">
        <div class="span6">
        </div>
        <div class="span2">
            <%= f.submit "Create User", :class => "green-button" %>
        </div>
        <div class="span1">
        </div>
        <div class="span2">
            <%= link_to users_path do %>
            <div class="red-button"><center>Cancel</center></div>
          <% end %>
        </div>
    </div>
<% end %>