<div class="row titlebar">
    <div class="span2">
    </div>
    <div class="span3">
    </div>
</div>
<div class="row">
    <div class="span6">
    </div>
    <div class="span5">
        <div class="user-form-header">
            <center>New User</center>
        </div>
        <%= simple_form_for(@user, html: {class: ''}) do |f| %>
        <div class="user-form user-form-row">
            <%= f.error_notification %>
            <%= f.input :email, :required => true, :autofocus => true, :class => "user-form-input" %>
            <%= f.input :role, as: :select, :collection => User::ROLES %>
            <%= f.label :password %>
            <%= f.password_field :password, :required => true %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :required => true %>
            <%= f.hidden_field :account_id, :value => current_user.account_id %>
        </div>
            <div class="row">
                <div class="span1">
                </div>
                <div class="span2">
                    <%= f.submit "Create User", :class => "form-create-button" %>
                </div>
                <div class="span2">
                    <%= link_to users_path do %>
                    <div class="user-cancel-button"><center>Cancel</center></div>
                  <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>