<% if User.exists? %>
  <div class="row titlebar">
    <h1 class="pull-left">Users</h1>
      <%= link_to "New User", new_user_path, class: "btn btn-primary pull-right" %>
  </div>
  <div class="row">
    <div class="span12">
        <table class="table table-hover table-striped table-condensed">
            <tr>
              <th>Email</th>
              <th>First</th>
              <th>Last</th>
              <th>Role</th>
              <th>Phone Number</th>
            </tr>
          <% current_user.account.users.each do |user| %>
            <tr>
              <td><%= link_to user.email, user %></td>
              <td><%= link_to user.first_name, user %></td>
              <td><%= link_to user.last_name, user %></td>
              <td><%= link_to user.role, user %></td>
              <td><%= link_to user.phone_number, user %></td>
            </tr>
        <% end %>
        </table>
    </div>
  </div>
<% else %>
  <br>
  <br>
  <br>
  <div class="row center">
    Currently, there are 0 Users.
    <br> Try Creating one!
    <br>
    <%= link_to "New User", new_user_path, class: "btn btn-primary" %>
  </div>
<% end %>