<div class="row titlebar well">
    <div class="span4">
    </div>
    <div class="span6">
        <h1><%= "#{@user.email}" %></h1>
    </div>
    <div class="span2 pull-right">
    	<%= link_to edit_user_registration_path do %>
			<center><div class="create-button">Edit User</div></center>
		<% end %>
    </div>
</div>

<div class="row">
	<div class="span4">
	</div>
	<div class="span9">
		<table class="table table-striped">
		  <tbody>
		  	<h4><span id="orange">Orders</span> placed by <span id="orange"><%= @user.email %></span></h4>
		  	<tr>
	          <th><%= "ID" %></th>
	          <th><%= "Name" %></th>
	          <th><%= "Category" %></th>
	          <th><%= "Status" %></th>
	          <th><%= "Art Status" %></th>
	          <th><%= "Product Status" %></th>
	          <th><%= "Date" %></th>
	        </tr>
		    <% @user.orders.each do |order| %>
		      <tr>
	             <td class="first-column"><%= link_to order.uuid, order %></td>
	             <td class="first-column"><%= link_to order.name, order %></td>
	             <td class="first-column"><%= best_in_place order, :category, :type => :select, :collection => [['screenprint', 'screenprint'],  ['embroidery', 'embroidery'], ['DTG', 'DTG'], ['heatpress', 'heatpress']] %></td>
	             <td class="first-column"><%= best_in_place order, :order_status, :type => :select, :collection => [['new', 'new'],  ['approved', 'approved'], ['complete', 'complete'], ['cancelled', 'cancelled'], ['hold', 'hold']] %></td>
	             <td class="first-column"><%= best_in_place order, :art_status, :type => :select, :collection => [['pending', 'pending'],  ['approved', 'approved']] %></td>
	             <td class="first-column"><%= best_in_place order, :product_status, :type => :select, :collection => [['purchase', 'purchase'], ['ordered', 'ordered'], ['partial', 'partial'], ['received', 'received']] %></td>
	             <td class="first-column"><%= link_to order.end_date.strftime("%m/%d/%y"), order %></td>
	        </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>