<div class="form">
    <div class="form-header row">
        <div class="pull-left"><%= image_tag 'customers-white.png' %></div>
        <div><h3>Customer Info</h3></div>
    </div>
    <div class="form-inputs row">
        <div class="span6">
            <h3>Who is the Customer?</h3>
            <p>Fill out the form with all the detail for the customer.</p>
        </div>
        <div class="span6">
            <%= simple_nested_form_for(@customer, html: {class: ''}) do |f| %>
            <%= f.error_notification %>
            <%= f.label :organization %>
            <%= f.text_field :organization %>
            <%= f.label :customer_name %>
            <%= f.text_field :customer_name %>
            <%= f.label "Email" %>
            <%= f.text_field :customer_email %>
            <%= f.label "Phone" %>
            <%= f.text_field :customer_phone %>
        </div>
    </div>
    <div class="form-header row">
        <div class="pull-left"><%= image_tag 'customers-white.png' %></div>
        <div><h3>Addresses</h3></div>
    </div>
    <div class="form-inputs row">
        <div class="span6">
            <h3>Where will Orders Ship?</h3>
            <p>This address will indicate where orders will ship, providing you create an order that ships for this customer.</p>
        </div>
        <div class="span6">
            <%= f.fields_for :addresses do |builder| %>
                <%= render "addresses/form", :f => builder %>
            <% end %>
            <%= f.link_to_remove "Delete", :class => "btn btn-danger span1" %>
            <%= f.link_to_add "Add", :addresses, class: "btn btn-success span1" %>
        </div>
    </div>
    </div>
</div>
<% if f.object.new_record? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :account_id, :value => current_user.account_id %>
<% end %>
<div class="row">
    <div class="span7">
    </div>
    <div class="row well span4 center">
        <div class="span2">
            <% if f.object.new_record? %>
                <%= f.submit "Create", :class => "btn btn-success btn-large" %>
            <% else %>
                <%= f.submit "Update", :class => "btn btn-success btn-large" %>
            <% end %>
        </div>
        <div class="span2">
            <%= link_to "Cancel", customers_path, class: "btn btn-danger btn-large" %>
        </div>
    </div>
</div>
<% end %>