<%= simple_form_for(@customer, html: {class: ''}) do |f| %>
<div class="row">
    <div class="span4">
    </div>
    <div class="span8">
        <div class="row">
            <div class="span1">
            </div>
            <div class="span3">
                <h3>Contact Info</h3>
                <%= f.error_notification %>
                <div class="input-prepend">
                  <span class="add-on">Organization</span>
                    <%= f.text_field :organization %>
                </div>
                <div class="input-prepend">
                      <span class="add-on">Purchaser</span>
                        <%= f.text_field :customer_name %>
                </div>
                <div class="input-prepend">
                      <span class="add-on">Email</span>
                        <%= f.text_field :customer_email %>
                </div>
                <div class="input-prepend">
                      <span class="add-on">Phone</span>
                        <%= f.text_field :customer_phone %>
                </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="span3">
    </div>
    <div class="span4">
        <h3></h3>
    </div>
</div>
<%= f.fields_for :addresses do |builder| %>
        <%= render "addresses/form", :f => builder %>
    <% end %>
<% if f.object.new_record? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :account_id, :value => current_user.account_id %>
<% end %>
<div class="row">
    <div class="span4">
    </div>
    <div class="span8">
        <div class="row">
            <div class="span1">
            </div>
            <div class="span2">
                <% if f.object.new_record? %>
                    <%= f.submit "Create Customer", :class => "green-button" %>
                <% else %>
                    <%= f.submit "Update Customer" %>
                <% end %>
            </div>
            <div class="span1">
            </div>
            <div class="span2">
                <% if f.object.new_record? %>
                    <%= link_to customers_path do %>
                        <center><div class="red-button">Cancel</div></center>
                    <% end %>
                <% else %>
                    <%= link_to customer_path do %>
                        <center><div class="red-button">Cancel</div></center>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>