<% if Customer.exists? %>
  <div class="row titlebar">
    <h1 class="pull-left span4">Customers</h1>
    <%= link_to "New Customer", new_customer_path, class: "btn btn-primary pull-right" %>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-hover table-striped table-condensed">
        <tr>
          <th class="second-column">organization</th>
          <th class="first-column">Purchaser</th>
          <th class="first-column">Email</th>
          <th class="first-column">Phone</th>
          <th class="first-column">Customer Since</th>
          <th class="first-column">Order count</th>
          <th></th>
        </tr>
        <% @customers.each do |customer| %>
          <tr>
             <td class="first-column"><%= link_to customer.organization, customer %></td>
             <td class="first-column"><%= link_to customer.customer_name, customer %></td>
             <td class="first-column"><%= link_to customer.customer_email, customer %></td>
             <td class="first-column"><%= link_to customer.customer_phone, customer %></td>
             <td class="first-column"><%= link_to customer.created_at.strftime("%m/%d/%y"), customer %></td>
             <td class="first-column"><%= customer.orders.count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <br>
  <br>
  <br>
  <div class="row center">
    Currently, there are 0 Customers.
    <br> Try Creating one!
    <br>
    <%= link_to "New Customer", new_customer_path, class: "btn btn-primary" %>
  </div>
<% end %>