<% if Customer.exists? %>
<div class="row titlebar">
  <div class="span2">
  </div>
  <div class="span3">
    <h1>Customers</h1>
  </div>
  <div class="span2 pull-right">
    <%= link_to new_customer_path do %>
      <center><div class="create-button">New Customer</div></center>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="span2">
  </div>
  <div class="span9">
    <table class="table table-striped">
      <tr>
        <th class="second-column">organization</th>
        <th class="first-column">Purchaser</th>
        <th class="first-column">Email</th>
        <th class="first-column">Phone</th>
        <th class="first-column">Customer Since</th>
        <th></th>
      </tr>
         <% @customers.each do |customer| %>
           <tr>
             <td class="first-column"><%= link_to customer.organization, customer %></td>
             <td class="first-column"><%= link_to customer.customer_name, customer %></td>
             <td class="first-column"><%= link_to customer.customer_email, customer %></td>
             <td class="first-column"><%= link_to customer.customer_phone, customer %></td>
             <td class="first-column"><%= link_to customer.created_at, customer %></td>
          </tr>
        <% end %>
    </table>
  </div>
<% else %>
<br><br><br>
  <div class="row-fluid">
    <div class="row">
      <div class="span5">
      </div>
      <div class="span3 no-margin-left">
        <div class="no-data">
          <center>
            Currently, there are <span id="orange">0</span> customers.
            <br> Try createing one!
            <div class="create-button">
              <%= link_to 'Create New Customer', new_customer_path, class: 'create-button' %>
            </div>
            </center>
          </div>
      </div>
    </div>
  </div>
<% end %>

<br />