<div class="row titlebar">
    <div class="span2">
    </div>
    <div class="span6">
        <h1><%= "#{@customer.organization} - #{@customer.customer_name}" %></h1>
    </div>
    <div class="span2 pull-right">
    	<%= link_to orders_path do %>
			<center><div class="view-all-button">View All</div></center>
		<% end %>
    </div>
    <div class="span2 pull-right">
    	<%= link_to new_order_path do %>
			<center><div class="create-button">New Order</div></center>
		<% end %>
    </div>
    <div class="span2 pull-right">
        <%= link_to edit_customer_path do %>
            <center><div class="cancel-button">Edit</div></center>
        <% end %>
    </div>
</div>
<div class="row-fluid">
	<div class="row">
		<div class="span2">
		</div>
		<div class="span3">
			<h3>organization</h3>
			<%= @customer.organization %>
			<h3>Purchaser</h3>
			<%= @customer.customer_name %>
			<h3>email</h3>
			<%= @customer.customer_email %>
			<h3>Phone #</h3>
			<%= @customer.customer_phone %>
		</div>
		<div class="span7">
			<table class="table table-striped">
			  <tbody>
			  	<h4><span id="orange">Orders</span> placed by <span id="orange"><%= @customer.organization %></span></h4>
			  	<tr>
		          <th><%= "ID" %></th>
		          <th><%= "Name" %></th>
		          <th><%= "Category" %></th>
		          <th><%= "Status" %></th>
		          <th><%= "Art Status" %></th>
		          <th><%= "Product Status" %></th>
		          <th><%= "Date" %></th>
		        </tr>
			    <% @customer.orders.each do |order| %>
			      <tr>
			        <tr>
		                <td class="first-column"><%= link_to order.id, order %></td>
		                <td class="first-column"><%= link_to order.name, order %></td>
		                <td class="first-column"><%= link_to order.category, order %></td>
		                <td class="first-column"><%= link_to order.order_status, order %></td>
		                <td class="first-column"><%= link_to order.art_status, order %></td>
		                <td class="first-column"><%= link_to order.product_status, order %></td>
		                <td class="first-column"><%= link_to order.created_at, order %></td>
		            </tr>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="span2">
	</div>
	<div class="span6">
		<% for address in @customer.addresses %>
			<%= h address.line_one.titleize %><br>
			<%= h address.line_two.titleize %><br>
			<%= h "#{address.city.capitalize}, #{address.state.capitalize} #{address.zip}" %>
		<% end %>
	</div>
</div>