<div class="row titlebar">
  <h1 class="pull-left"><%= @customer.organization.titleize %></h1>
  <%= link_to "New Order", new_order_path, class: "btn btn-primary pull-right" %>
  <%= link_to "New Order", edit_customer_path, class: "btn btn-success pull-right" %>
</div>
<div class="row">
	<ul class="span3 box text-decoration-none" id="margin-right-ten">
		<li id="light-grey">Name</li>
		<li><span class="order-data-bold font-size-bigger"><%= @customer.customer_name.titleize %></span></li>
		<li id="light-grey">Email</li>
		<li><span class="order-data-bold font-size-bigger"><%= mail_to @customer.customer_email %></span></li>
		<li id="light-grey">Phone</li>
		<li><span class="order-data-bold font-size-bigger"><%= @customer.customer_phone %></span></li>
		<li class="divider"></li>
		<% for address in @customer.addresses.each %>
			<li id="light-grey">Type</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.ship_type.titleize %></span></li>
			<li id="light-grey">Line 1</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.line_one.titleize %></span></li>
			<li id="light-grey">Line 2</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.line_two.titleize %></span></li>
			<li id="light-grey">City</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.city.titleize %></span></li>
			<li id="light-grey">State</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.state.titleize %></span></li>
			<li id="light-grey">Zip</li>
			<li><span class="order-data-bold font-size-bigger"><%= h address.zip.titleize %></span></li>
			<% end %>
	</ul>
	<div class="span9 box">
		<table class="table table-striped table-condensed">
		  <tbody>
		  	<h3><%= @customer.organization.titleize %>'s Orders</span></h3>
		  	<tr>
	          <th><%= "ID" %></th>
	          <th><%= "Name" %></th>
	          <th><%= "Category" %></th>
	          <th><%= "Status" %></th>
	          <th><%= "Art Status" %></th>
	          <th><%= "Product Status" %></th>
	          <th><%= "Date" %></th>
	        </tr>
		    <% @customer.orders.each do |order| %>
		      <tr>
	             <td class="first-column"><%= link_to order.uuid, order %></td>
	             <td class="first-column"><%= link_to order.name, order %></td>
	             <td class="first-column"><%= best_in_place order, :category, :type => :select, :collection => [['screenprint', 'screenprint'],  ['embroidery', 'embroidery'], ['DTG', 'DTG'], ['heatpress', 'heatpress']] %></td>
	             <td class="first-column"><%= best_in_place order, :order_status, :type => :select, :collection => [['new', 'new'],  ['approved', 'approved'], ['complete', 'complete'], ['cancelled', 'cancelled'], ['hold', 'hold']] %></td>
	             <td class="first-column"><%= best_in_place order, :art_status, :type => :select, :collection => [['pending', 'pending'],  ['approved', 'approved']] %></td>
	             <td class="first-column"><%= best_in_place order, :product_status, :type => :select, :collection => [['purchase', 'purchase'], ['ordered', 'ordered'], ['partial', 'partial'], ['received', 'received']] %></td>
	             <td class="first-column"><%= link_to order.end_date.strftime("%m/%d/%y"), order %></td>
	        </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>