<div class="row titlebar">
    <div class="span3">
    </div>
    <div class="span6">
        <h1><%= @customer.organization.titleize %></h1>
        <h5><%= @customer.customer_name.titleize %></h5>
        <h5><%= mail_to @customer.customer_email %></h5>
        <h5><%= @customer.customer_phone %></h5>
    </div>
    <div class="span2 pull-right">
    	<%= link_to new_order_path do %>
			<center><div class="create-button">New Order</div></center>
		<% end %>
    </div>
    <div class="span2 pull-right">
        <%= link_to edit_customer_path do %>
            <center><div class="cancel-button">Edit</div></center>
        <% end %>
    </div>
</div>
<div class="row well">
	<div class="span3">
	</div>
	<div class="span3">
		<% for address in @customer.addresses.each %>
			<%= h address.line_one.titleize %><br>
			<%= h address.line_two.titleize %><br>
			<%= h "#{address.city.capitalize}, #{address.state.capitalize} #{address.zip}" %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span3">
	</div>
	<div class="span9">
		<table class="table table-striped">
		  <tbody>
		  	<h4><span id="orange">Orders</span> placed by <span id="orange"><%= @customer.organization.titleize %></span></h4>
		  	<tr>
	          <th><%= "ID" %></th>
	          <th><%= "Name" %></th>
	          <th><%= "Category" %></th>
	          <th><%= "Status" %></th>
	          <th><%= "Art Status" %></th>
	          <th><%= "Product Status" %></th>
	          <th><%= "Date" %></th>
	        </tr>
		    <% @customer.orders.each do |order| %>
		      <tr>
		        <tr>
	                <td class="first-column"><%= link_to order.id, order %></td>
	                <td class="first-column"><%= link_to order.name, order %></td>
	                <td class="first-column"><%= link_to order.category, order %></td>
	                <td class="first-column"><%= link_to order.order_status, order %></td>
	                <td class="first-column"><%= link_to order.art_status, order %></td>
	                <td class="first-column"><%= link_to order.product_status, order %></td>
	                <td class="first-column"><%= link_to order.created_at, order %></td>
	            </tr>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>