<div class="row header">
	<center>
		<div class="span2">
		</div>
		<div class="span4">
			Search Orders
		</div>
	</center>
</div>
<div class="row">
	<div class="span2">
	</div>
	<div class="span3">
		<%= search_form_for @search, url: search_orders_path, method: :post do |f| %>
		<div class="input-prepend">
		  <span class="add-on">#</span>
		  	<%= f.text_field :uuid_eq, class: "span2" %>
		</div>
		<div class="input-prepend">
		  <span class="add-on">Name</span>
		  	<%= f.text_field :name_cont, class: "span2" %>
		</div>
		<div class="input-prepend">
		  <span class="add-on">Organization</span>
		  	<%= f.text_field :customer_organization_cont, class: "span2"  %>
		</div>
		<div class="input-prepend">
		  <span class="add-on">Purchaser</span>
		  	<%= f.text_field :customer_customer_name_cont, class: "span2"  %>
		</div>
		<div class="input-prepend">
		  <span class="add-on">Due Date</span>
		  	<%= f.text_field :end_date_eq, 'data-behaviour' => 'datepicker', class: "span2" %>
				<script type="text/javascript">
				$(document).ready(function(){
				  $('[data-behaviour=datepicker]').datepicker({format: 'yyyy-mm-dd'});
				});
				</script>
		</div>
		  	<%= f.select :category_cont, Order::CATEGORY, {:include_blank => 'Category'}, class: "span2" %>
		  	<br>
		  	<%= f.select :order_type_cont, Order::TYPE, {:include_blank => 'Type'}, class: "span2" %>
		  	<%= f.select :order_status_cont, Order::STATUS, {:include_blank => 'Order Status'}, class: "span2" %>
		  	<%= f.select :art_status_cont, Order::ARTSTATUS, {:include_blank => 'Art Status'}, class: "span2" %>
		  	<%= f.select :product_status_cont, Order::PRODUCTSTATUS, {:include_blank => 'Product Status'}, class: "span2" %>
		  	<%= f.select :shipping_eq, Order::SHIP, {:include_blank => 'Shipping?'}, class: "span2", id: "bottom-filter" %>
	</div>
</div>
<div class="row filter-actions">
	<div class="span2">
	</div>
	<div class="span2 filter-action">
		<%= f.submit "Filter" %>
	</div>
	<div class="span2">
		<%= link_to orders_path do %>
		    <center><div class="red-button" id="clear">Clear</div></center>
		<% end %>
	</div>
</div>
<% end %>