<div class="row">
	<h3>Filters</h3>
	<h5>Search by</h5>
<%= search_form_for @search do |f| %>
<center>
	<%= f.text_field :id_cont, class: "filter-field", placeholder: "Order No." %>
	<%= f.text_field :name_cont, class: "filter-field", placeholder: "Order Name" %>
	<%= f.text_field :customer_organization_cont, class: "filter-field", placeholder: "Custom Organization/ Company"  %>
	<%= f.text_field :customer_customer_name_cont, class: "filter-field", placeholder: "Purchaser's Name"  %>
	<%= f.text_field :end_date_eq, 'data-behaviour' => 'datepicker', class: "filter-field", placeholder: "Due Date" %>
	<script type="text/javascript">
	  $('[data-behaviour~=datepicker]').datepicker();
	</script>
	
	<%= f.select :category_cont, Order::CATEGORY, {:include_blank => 'Category'}, class: "filter-field" %>
	<%= f.select :order_type_cont, Order::TYPE, {:include_blank => 'Type'}, class: "filter-field" %>
	<%= f.select :order_status_cont, Order::STATUS, {:include_blank => 'Order Status'}, class: "filter-field" %>
	<%= f.select :art_status_cont, Order::ARTSTATUS, {:include_blank => 'Art Status'}, class: "filter-field" %>
	<%= f.select :product_status_cont, Order::PRODUCTSTATUS, {:include_blank => 'Product Status'}, class: "filter-field" %>
	<%= f.select :ship_cont, Order::SHIP, {:include_blank => 'Shipping?'}, class: "filter-field", id: "bottom-filter" %>
</center>
</div>
<div class="row"><center>
	<div class="filter">
		<%= f.submit "Filter" %>
	</div>
	<div>
		<%= link_to orders_path do %>
	    <div class="cancel-button">Clear</div></center>
	    <% end %>
	</div>
</div>
<% end %>