<div class="row">
        <div class="span3">
        </div>
        <div class="span5">
            <h3 class="content">General Info</h3>
        </div>
        <div class="span1">
        </div>
        <div class="span2">
        </div>
    </div>
<%= simple_nested_form_for(@order, html: {class: ''}) do |f| %>
    <%= f.error_notification %>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <div class="input-prepend">
                      <span class="add-on">Name</span>
                        <%= f.text_field :name %>
                </div>
        </div>
        <div class="span4">
            <%= f.select :customer_id, Customer.where(:user_id => current_user.id).map{|s|[s.organization, s.id]} %>
        </div>
    </div>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <%= f.input :order_type, label: false, as: :select, :collection => Order::TYPE, include_blank: 'Type' %>
        </div>
        <div class="span4">
            <%= f.input :shipping, as: :select, :collection => Order::SHIP, include_blank: 'Shipping', label: false %>
        </div>
    </div>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <%= f.input :category, label: false, :collection => Order::CATEGORY, include_blank: 'Category' %>
        </div>
        <div class="span4">
            <div class="input-prepend">
                <span class="add-on">Due Date</span>
                <%= f.text_field :end_date,'data-behaviour' => 'datepicker' %>
                <script type="text/javascript">
                $(document).ready(function(){
                  $('[data-behaviour=datepicker]').datepicker({format: 'yyyy-mm-dd'});
                });
                </script>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span3">
        </div>
        <div class="span4">
            <% if f.object.new_record? %>
                <%= f.hidden_field :order_status, :value => "new" %>
            <% else %>
                <%= f.input :order_status %>
            <% end %>
        </div>
        <div class="span1">
        </div>
        <div class="span4">
            <% if f.object.new_record? %>
                <%= f.hidden_field :art_status, :value => "pending" %>
            <% else %>
                <%= f.input :art_status %>
            <% end %>
        </div>
    </div>
    <div class="row" id="products">
        <div class="span3">
        </div>
        <div class="span12">
            <h3>Products</h3>
            <%= f.fields_for :products do |builder| %>
                <%= render "products/form", :f => builder %>
            <% end %>
        </div>
    </div>
    <div class="row" id="products">
        <div class="span3">
        </div>
        <div class="span12">
            <%= f.link_to_add "Add Product", :products, class: "blue-button pull-right" %>
            <%= f.select :product_status, Order::PRODUCTSTATUS, {:include_blank => "Product Status"}, class: 'pull-right' %>
        </div>
    </div>
    <div class="row">
        <div class="span3">
        </div>
        <div class="span12">
            <h3 class="content">File Upload</h3>
            <%= f.fields_for :artworks do |builder| %>
                    <%= render "artworks/form", :f => builder %>
                <% end %>
        </div>
    </div>
    <div class="row" id="products">
        <div class="span3">
        </div>
        <div class="span12">
            <%= f.link_to_add "Add Artwork", :artworks, class: "blue-button pull-right" %>
            <%= f.select :art_status, Order::ARTSTATUS, {:include_blank => "Art Status"}, class: 'pull-right' %>
        </div>
    </div>
    <div class="row order-actions">
        <div class="span6">
        </div>
        <div class="span2 order-action">
            <% if f.object.new_record? %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :account_id, :value => current_user.account_id %>
                <%= f.submit "Create" %>
            <% else %>
                <%= f.submit "Update" %>
            <% end %>
        </div>
        <div class="span2">
            <%= link_to orders_path do %>
                <center><div class="red-button">Cancel</div></center>
            <% end %>
        </div>
    </div>
        <% end %>
    </div>
</div>