<div class="row">
  <div class="span4">

  </div>
  <div class="span9">
    <h1>History</h1>
 
    <ul>
      <% @order.versions.each do |version| %>
        <%= link_to User.find(version.whodunnit).email, user_path %> <%= version.event %>d <%= version.item_type %> at <%= l(version.created_at, format: "%I:%M %P on %m/%-d/%Y") %><%= version.changeset %></br>
      <% end %>
    </ul>
  </div>
</div>
