<% if Order.exists? %>
  <div class="row titlebar">
    <h1 class="pull-left span4">Orders</h1>
      <%= link_to "New Order", new_order_path, class: "btn btn-primary pull-right" %>
  </div>
  <div class="row">
      <div class="span2">
          <%= link_to 'Search', orders_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => 'btn btn-success'}  %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <%= render 'orders/filters' %>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="span12">
        <table class="table table-hover table-striped table-condensed">
        <tr>
            <th><%= sort_link @search, :uuid, "#" %></th>
            <th><%= sort_link @search, :name, "Name" %></th>
            <th><%= sort_link @search, :category, "Category" %></th>
            <th><%= sort_link @search, :order_status, "Status" %></th>
            <th><%= sort_link @search, :art_status, "Art Status" %></th>
            <th><%= sort_link @search, :product_status, "Product Status" %></th>
            <th><%= sort_link @search, :end_date, "Due Date" %></th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
             <td class="first-column"><%= link_to order.uuid, order %></td>
             <td class="first-column"><%= link_to order.name, order %></td>
             <td class="first-column"><%= best_in_place order, :category, :type => :select, :collection => [['screenprint', 'screenprint'],  ['embroidery', 'embroidery'], ['DTG', 'DTG'], ['heatpress', 'heatpress']] %></td>
             <td class="first-column"><%= best_in_place order, :order_status, :type => :select, :collection => [['new', 'new'],  ['approved', 'approved'], ['complete', 'complete'], ['cancelled', 'cancelled'], ['hold', 'hold']] %></td>
             <td class="first-column"><%= best_in_place order, :art_status, :type => :select, :collection => [['pending', 'pending'],  ['approved', 'approved']] %></td>
             <td class="first-column"><%= best_in_place order, :product_status, :type => :select, :collection => [['purchase', 'purchase'], ['ordered', 'ordered'], ['partial', 'partial'], ['received', 'received']] %></td>
             <td class="first-column"><%= link_to order.end_date.strftime("%m/%d/%y"), order %></td>
        </tr>
        <% end %>
        </table>
    </div>
  </div>
<% else %>
  <br>
  <br>
  <br>
  <div class="row center">
    Currently, there are 0 orders.
    <br> Try Creating one!
    <br>
    <%= link_to "New Order", new_order_path, class: "btn btn-primary" %>
  </div>
<% end %>