<div class="row">
  <div class="span9">
    <h1>Orders</h1>
  </div>
  <div class="span3">
    <br>
    <%= link_to 'Create Order', new_order_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>
<br>
<table class="table table-striped">
  <tr>
    <th class="first-column">ID</th>
    <th class="second-column">Name</th>
    <th class="first-column">Category</th>
    <th class="first-column">Status</th>
    <th class="first-column">Art</th>
    <th class="first-column">Product</th>
    <th class="first-column">Due Date</th>
    <th></th>
  </tr>
     <% @orders.each do |order| %>
       <tr>
         <td class="first-column"><%= link_to order.id, order %></td>
         <td class="first-column"><%= link_to order.name, order %></td>
         <td class="first-column"><%= link_to order.category, order %></td>
         <td class="first-column"><%= link_to order.order_status, order %></td>
         <td class="first-column"><%= link_to order.art_status, order %></td>
         <td class="first-column"><%= link_to order.product_status, order %></td>
         <td class="first-column"><%= link_to order.end_date, order %></td>
      </tr>
    <% end %>
</table>

<br />