<div class="row titlebar well">
    <div class="span3">
    </div>
    <% if Order.exists? %>
        <div class="span4">
        <h1>Orders</h1>
        </div>
        <div class="span2 pull-right">
        <%= link_to new_order_path do %>
          <center><div class="green-button titlebar-actions">New Order</div></center>
        <% end %>
    </div>
</div>
<div class="row filters">
    <div class="span3">
    </div>
    <div class="span2">
        <%= link_to 'Search', orders_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => 'blue-button'}  %>
        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= render 'orders/filters' %>
        </div>
    </div>
</div>
<div class="row">
    <div class="span3">
    </div>
    <div class="span12">
        <table class="table table-striped table-condensed index">
        <tr>
            <th><%= sort_link @search, :uuid, "#" %></th>
            <th><%= sort_link @search, :name, "Name" %></th>
            <th><%= sort_link @search, :category, "Category" %></th>
            <th><%= sort_link @search, :order_status, "Status" %></th>
            <th><%= sort_link @search, :art_status, "Art Status" %></th>
            <th><%= sort_link @search, :product_status, "Product Status" %></th>
            <th><%= sort_link @search, :end_date, "Due Date" %></th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
             <td class="first-column"><%= link_to order.uuid, order %></td>
             <td class="first-column"><%= link_to order.name, order %></td>
             <td class="first-column"><%= link_to order.category, order %></td>
             <td class="first-column"><%= link_to order.order_status, order %></td>
             <td class="first-column"><%= link_to order.art_status, order %></td>
             <td class="first-column"><%= link_to order.product_status, order %></td>
             <td class="first-column"><%= link_to order.end_date.strftime("%m/%d/%y"), order %></td>
        </tr>
        <% end %>
        </table>
    </div>
</div>
<% else %>
<br><br><br>
  <div class="row-fluid">
    <div class="row">
      <div class="span5">
      </div>
      <div class="span3 no-margin-left">
        <div class="no-data">
          <center>
            Currently, there are <span id="orange">0</span> orders.
            <br> Try createing one!
              <%= link_to new_order_path do %>
                <center><div class="create-button">New Order</div></center>
              <% end %>
            </center>
          </div>
      </div>
    </div>
  </div>
  <% end %>

<br />