  <div class="row titlebar">
    <div class="span3">
    </div>
    <% if Order.exists? %>
    <div class="span3">
      <h1>Orders</h1>
    </div>
    <div class="span4">
    </div>
    <div class="span2">
      <%= link_to new_order_path do %>
        <center><div class="create-button">New Order</div></center>
      <% end %>
    </div>
    <div class="span3 pull-right filters">
      <%= render "filters" %>
    </div>
  </div>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span8">
      <table class="table table-striped">
        <tr>
          <th><%= sort_link @search, :id, "ID" %></th>
          <th><%= sort_link @search, :name, "Name" %></th>
          <th><%= sort_link @search, :category, "Category" %></th>
          <th><%= sort_link @search, :order_status, "Status" %></th>
          <th><%= sort_link @search, :art_status, "Art Status" %></th>
          <th><%= sort_link @search, :product_status, "Product Status" %></th>
          <th><%= sort_link @search, :end_date, "Due Date" %></th>
        </tr>
        <% current_user.account.orders.each do |order| %>
           <tr>
             <td class="first-column"><%= link_to order.id, order %></td>
             <td class="first-column"><%= link_to order.name, order %></td>
             <td class="first-column"><%= link_to order.category, order %></td>
             <td class="first-column"><%= link_to order.order_status, order %></td>
             <td class="first-column"><%= link_to order.art_status, order %></td>
             <td class="first-column"><%= link_to order.product_status, order %></td>
             <td class="first-column"><%= link_to order.end_date.strftime("%m/%d/%y"), order %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
<br><br><br>
  <div class="row-fluid">
    <div class="row">
      <div class="span5">
      </div>
      <div class="span3 no-margin-left">
        <div class="no-data">
          <center>
            Currently, there are <span id="orange">0</span> orders.
            <br> Try createing one!
              <%= link_to new_order_path do %>
                <center><div class="create-button">New Order</div></center>
              <% end %>
            </center>
          </div>
      </div>
    </div>
  </div>
  <% end %>

<br />