<div class="row titlebar">
    <div class="span9">
        <h1>Order <span id="light-grey"><%= "##{@order.id}" %></span></h1>
    </div>
    <div class="span2 pull-right">
    	<%= link_to "Edit", edit_order_path, class: "btn btn-success" %>
    </div>
</div>
<div class="box">
	<div class="row box-title">
		<h3 class="pull-left"><%= "#{current_user.account.subdomain.titleize}" %></h3>
		<h3 class="pull-right"><span id="light-grey">Order </span><%= " ##{@order.id}" %></h3>
	</div>
	<div class="row order-info">
		<div class="span1">
		</div>
		<div class="span6">
			<div class="margin-bottom-ten">
				<span class="contrast-red">To</span><br>
			</div>
			<ul class="text-decoration-none span4">
				<li><span id="light-grey">Shipping?</span><span class="order-data-bold bip"> <%= best_in_place @order, :shipping, :type => :select, :collection => [['yes', 'yes'], ['no', 'no']] %></span></li>
				<li><span class="order-data-bold"> <%= @order.customer.organization %></span></li>
				<li><span class="order-data-bold"> <%= @order.customer.customer_name %></span></li>
				<% if @order.shipping == 'yes' %>
					<li><span class="address-indent"> <%= @address.line_one %></li>
					<% if @address.line_two.blank? %>
					<% else %>
					 <li><span class="address-indent"> <%= @address.line_two %></span></li>
					<% end %>
					<li><span class="address-indent"> <%= @address.city %></span></li>
					<li><span class="address-indent"> <%= @address.state %></span></li>
					<li><span class="address-indent"> <%= @address.zip %></span></li>
				<% end %>
			</ul>
		</div>
		<div class="span2">
		</div>
		<div class="span5 pull-right">
			<div class="margin-bottom-ten">
				<span class="contrast-red">Info</span>
			</div>
			<div class="span2">
				<ul class="text-decoration-none">
					<li><span>Name:</span></li>
					<li><span>Due Date:</span></li>
					<li><span>Sold By:</span></li>
					<li><span>Category:</span></li>
					<li><span>Type:</span></li>
					<li><span>Order Status:</span></li>
					<li><span>Product Status:</span></li>
					<li><span>Art Status:</span></li>
				</ul>
			</div>
			<div class="">
				<ul class="text-decoration-none">
					<li><span class="order-data-bold bip"> <%= best_in_place @order, :name %></span></li>
					<li><span class="order-data-bold"> <%= @order.end_date.strftime("%m/%d/%Y") %></span></li>
					<li><span class="order-data-bold"> <%= link_to "#{@order.user.email}", user_path(@user_id) %></span></li>
					<li><span class="order-data-bold bip"> <%= best_in_place @order, :category, :type => :select, :collection => [['screenprint', 'screenprint'],  ['embroidery', 'embroidery'], ['DTG', 'DTG'], ['heatpress', 'heatpress']] %></span></li>
					<li><span class="order-data-bold bip"> <%= best_in_place @order, :order_type, :type => :select, :collection => [['New', 'New'],  ['Re-order', 'Re-order']] %></span></li>
					<li><span class="order-data-bold bip"> <%= best_in_place @order, :order_status, :type => :select, :collection => [['new', 'new'],  ['approved', 'approved'], ['complete', 'complete'], ['cancelled', 'cancelled'], ['hold', 'hold']] %></span></li>
					<li><span class="order-data-bold bip"> <%= best_in_place @order, :product_status, :type => :select, :collection => [['purchase', 'purchase'], ['ordered', 'ordered'], ['partial', 'partial'], ['received', 'received']] %></span></li>
					<li><span class="order-data-bold bip"><%= best_in_place @order, :art_status, :type => :select, :collection => [['pending', 'pending'],  ['approved', 'approved']] %></span></li>
				</ul>
			</div>
		</div>
	</div>
		<% for product in @order.products %>
		<table class="table table-striped table-condensed row products-table">
			<tr>
        <th>Style</th>
        <th>Color</th>
        <th>Quantity</th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>2XL</th>
        <th>3XL</th>
        <th>4XL</th>
        <th>5XL</th>
        <th>6XL</th>
      </tr>
      <% @order.products.each do |product| %>
	      <tr>
	      	<td class="bip"><%= best_in_place product, :style %></td>
          <td class="bip"><%= best_in_place product, :color %></td>
          <td class="bip"><%=  product.quantity = product.xs.to_i + product.small.to_i + product.med.to_i + product.large.to_i + product.xl.to_i + product.xxl.to_i + product.xxxl.to_i + product.ivxl.to_i + product.vxl.to_i + product.vixl.to_i %></td>
          <td class="bip"><%= best_in_place product, :xs %></td>
          <td class="bip"><%= best_in_place product, :small %></td>
          <td class="bip"><%= best_in_place product, :med %></td>
          <td class="bip"><%= best_in_place product, :large %></td>
          <td class="bip"><%= best_in_place product, :xl %></td>
          <td class="bip"><%= best_in_place product, :xxl %></td>
          <td class="bip"><%= best_in_place product, :xxxl %></td>
          <td class="bip"><%= best_in_place product, :ivxl %></td>
          <td class="bip"><%= best_in_place product, :vxl %></td>
          <td class="bip"><%= best_in_place product, :vixl %></td>
	      </tr>
      <% end %>
    </table>
	<% end %>
	<% for artwork in @order.artworks %>
<!-- 		<table class="table table-striped table-condensed row">
			<th>Color</th>
			<th>Location</th>
			<th></th>
			<% @order.artworks.each do |artwork| %>
				<td><%= best_in_place artwork, :color %></td>
				<td><%= best_in_place artwork, :location, :type => :select, :collection => 
				[['Front', 'Front'], ['Back', 'Back'], ['Chest(L)', 'Chest(L)'], ['Chest(R)', 'Chest(R)'], ['Sleeve(L)', 'Sleeve(L)'], ['Sleeve(R)', 'Sleeve(R)'], ['Leg(L)', 'Leg(L)'], ['Leg(R)', 'Leg(R)'], ['Pocket(L)', 'Pocket(L)'], ['Pocket(R)', 'Pocket(R)'], ['Hat(front)', 'Hat(front)'], ['Hat(back)', 'Hat(back)']] %></td>
				<td class="span1"><%= link_to artwork.file_url.to_s, download: ["#{@order.name}-#{@order.uuid}-#{artwork.location}"] do %>
			        <center><div class="green-button">Download</div></center>
		    <% end %></td>
			<% end %>
		</table>
	<% end %>
 --></div>




<div>
<%= render 'orders/history' %>
</div>