<div class="row titlebar well">
    <div class="span3">
    </div>
    <div class="span7 order-titlebar">
        <h1><%= "#{@order.name.titleize}" %></h1>
        <span class="badge badge-info"><%= "#{@order.id}" %></span>
		<span class="badge badge-warning"><%= "#{@order.order_type}" %></span>
    </div>
    <div class="span2 pull-right">
        <%= link_to edit_order_path do %>
			<center><div class="green-button titlebar-actions">Edit</div></center>
	    <% end %>
    </div>
</div>
<div class="row">
	<div class="span3">
	</div>
	<div class="calender-date span2">
		<center>
			<div id="due-created">
				Due
			</div>
			<div id="month">
				<%= @order.end_date.strftime("%B") %>
			</div>
			<div id="day">
				<%= @order.end_date.strftime("%d") %>
			</div>
			<div id="year">
				<%= @order.end_date.strftime("%Y") %>
			</div>
		</center>
	</div>
	<div class="span2">
	  <li class="active">
	    <%= link_to @order.customer.organization, customer_path %>
	  </li>
	</div>
</div>
<div class="row titlebar">
    <div class="span3">
    </div>
    <div class="span9 content">
    	<div class="row sold-category">
    		<!-- TODO: linke is taking to index -->
        	<span id="sold-by"><%= link_to "#{@order.user.email}", user_path(@user_id) %></h1>
        		- <%= @order.category %>
    	</div>
    	<br>
    	<div class="row">
		    	<div class="span2">
			    	<h4>Status</h4>
					<% if @order.order_status == 'new' %>
						<div class="progress progress-danger">
							<div class="bar" style="width: 33%;"><%= @order.order_status %></div>
						</div>
					<% elsif @order.order_status == 'approved' %>
					    <div class="progress progress-info">
							<div class="bar" style="width: 66%;"><%= @order.order_status %></div>
						</div>
					<% elsif @order.order_status == 'complete' %>
					    <div class="progress progress-success">
							<div class="bar" style="width: 100%;"><%= @order.order_status %></div>
						</div>
					<% elsif @order.order_status == 'hold' %>
					    <div class="progress progress-warning">
							<div class="bar" style="width: 100%;"><%= @order.order_status %></div>
						</div>
					<% elsif @order.order_status == 'cancelled' %>
					    <div class="progress progress-danger">
							<div class="bar" style="width: 100%;"><%= @order.order_status %></div>
						</div>
					<% end %>
				</div>
				<div class="span2">
					<h4>Product</h4>
					<% if @order.product_status == 'Purchase' %>
						<div class="progress progress-danger">
							<div class="bar" style="width: 35%;"><%= @order.product_status %></div>
						</div>
					<% elsif @order.product_status == 'ordered' %>
					    <div class="progress progress-warning">
							<div class="bar" style="width: 50%;"><%= @order.product_status %></div>
						</div>
					<% elsif @order.product_status == 'partial' %>
					    <div class="progress progress-info">
							<div class="bar" style="width: 75%;"><%= @order.product_status %></div>
						</div>
					<% elsif @order.product_status == 'received' %>
					    <div class="progress progress-success">
							<div class="bar" style="width: 100%;"><%= @order.product_status %></div>
						</div>
					<% end %>
				</div>
				<div class="span2">
					<h4>Art</h4>
					<% if @order.art_status == 'pending' %>
						<div class="progress progress-danger">
							<div class="bar" style="width: 50%;"><%= @order.art_status %></div>
						</div>
					<% elsif @order.art_status == 'approved' %>
					    <div class="progress progress-success">
							<div class="bar" style="width: 100%;"><%= @order.art_status %></div>
						</div>
					<% end %>
				</div>
			</div>
	    </div>
<!-- 	<div class="calender-date span2 pull-right well">
		<center>
			<div id="due-created-start">
				Created
			</div>
			<div id="month-start">
				<%= @order.created_at.localtime.strftime("%B") %>
			</div>
			<div id="day">
				<%= @order.created_at.localtime.strftime("%d") %>
			</div>
			<div id="year-start">
				<%= @order.created_at.localtime.strftime("%Y") %>
			</div>
		</center>
	</div> -->
</div>
<div class="row">
	<div class="span3">
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
		  <li class="active">
		    <%= link_to "Product" %>
		  </li>
		</ul>
		<% for product in @order.products %>
			<table class="table table-striped">
		        <tr>
		          <th>Style</th>
		          <th>Color</th>
		          <th>Quantity</th>
		          <th>XS</th>
		          <th>S</th>
		          <th>M</th>
		          <th>L</th>
		          <th>XL</th>
		          <th>2XL</th>
		          <th>3XL</th>
		          <th>4XL</th>
		          <th>5XL</th>
		          <th>6XL</th>
		        </tr>
		        <% @order.products.each do |product| %>
		           <tr>
		             <td class="first-column"><%= h product.style %></td>
		             <td class="first-column"><%= h product.color %></td>
		             <td class="first-column"><%= h product.quantity = product.xs.to_i + product.small.to_i + product.med.to_i + product.large.to_i + product.xl.to_i + product.xxl.to_i + product.xxxl.to_i + product.ivxl.to_i + product.vxl.to_i + product.vixl.to_i %></td>
		             <td class="first-column"><%= h product.xs %></td>
		             <td class="first-column"><%= h product.small %></td>
		             <td class="first-column"><%= h product.med %></td>
		             <td class="first-column"><%= h product.large %></td>
		             <td class="first-column"><%= h product.xl %></td>
		             <td class="first-column"><%= h product.xxl %></td>
		             <td class="first-column"><%= h product.xxxl %></td>
		             <td class="first-column"><%= h product.ivxl %></td>
		             <td class="first-column"><%= h product.vxl %></td>
		             <td class="first-column"><%= h product.vixl %></td>
		          </tr>
		        <% end %>
		      </table>
		<% end %>
	</div>
	<div class="span1">
	</div>
	<div class="span3">
		<div class="row">
			Purchaser: <%= link_to @order.customer.customer_name, customer_path %>
		</div>
		<div class="row">
			Shipping: <%= @order.ship %>
			<% for address in @order.customer.addresses %>
				<% if @order.ship == 'true' %>
					<%= h customer.address.line_one %>
					<%= h customer.address.line_two %>
					<%= h customer.address.city %>
					<%= h customer.address.state %>
					<%= h customer.address.zip %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>



<div class="row">
	<div class="span3">
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
		  <li class="active">
		    <%= link_to "Artwork" %>
		  </li>
		</ul>
		<% for artwork in @order.artworks %>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>Location</th>
					<th>Color</th>
					<th></th>
				</tr>
				<% @order.artworks.each do |artwork| %>
					<tr>
						<td><%= image_tag artwork.file_url(:thumb) if artwork.file? %></td>
						<td><%= h artwork.color %></td>
						<td><%= h artwork.location %></td>
						<td><%= link_to artwork.file_url.to_s, download: ["#{@order.name}-#{@order.id}-#{artwork.location}"] do %>
					        <center><div class="create-button">Download</div></center>
					      <% end %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>