<div>
	<h3>ID</h3>
	<%= @order.id %>
	<h3>Name</h3>
	<%= @order.name %>
	<h3>Status</h3>
	<%= @order.order_status %>
	<h3>Product Status</h3>
	<%= @order.product_status %>
	<h3>Art Status</h3>
	<%= @order.art_status %>
	<h3>Category</h3>
	<%= @order.category %> 
	<h3>Type</h3>
	<%= @order.order_type %>
	<h3>Sold by</h3>
	<h3>Start Date</h3>
	<%= @order.created_at %>
	<h3>Due Date</h3>
	<%= @order.end_date %>
	<h3>Shipping</h3>
	<%= @order.ship %>
	<h3>Customer</h3>
	<%= @order.customer.organization %>
	<%= @order.customer.customer_name %>
	<%= @order.customer.customer_email %>
</div>