<% if user_signed_in? %>
	<div class="row titlebar">
		<div class="span2">
		</div>
		<div class="span4">
			<h3>Dashboard</h3>
		</div>
	</div>
	<div class="row dash-stats">
		<div class="span3">
		</div>
		<div class="span3">
			<center><h1><%= current_user.account.orders.count %></h1><br>
			<h3>Orders</h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.account.customers.count %></h1></br><h3>Customers</h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.account.users.count %></h1><br><h3>Users</h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.orders.count %></h1><br><h3>My Orders</h3></center>
		</div>
	</div>
<% else %>
<div class="background-one">
	<div class="row">
		<div class="span5">
		</div>
		<div class="span7 logo">
			<%= image_tag 'shirt_admin_logo.png' %>
		</div>
	</div>
</div>
<div class="row grey-background">
	<div class="span4">
	</div>
	<div class="span5">
		<h3>Manage your print shop NOW!</h3>
	</div>
	<div class="span3">
		<%= link_to new_account_path do %>
			<center><div class="blue-button"><h4>Free 30 Day Trial</h4></div></center>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span1">
	</div>
	<div class="span5 home-icon">
		<center>
			<%= image_tag 'pricing.png' %>
			<h3>Pricing</h3><br>
			<ul class="no-bullets">
				<div class="li-underlined"><li><h4>$50/month</h4></li></div>
				<div class="li-underlined"><li><h4>30 day free trial</h4></li></div>
				<div class="li-underlined"><li><h4>Cancel anytime</h4></li></div><br>
				<li>
					<%= link_to new_account_path do %>
						<center><div class="green-button" id="half-green-width"><h4>Start Now!</h4></div></center>
					<% end %>
				</li>
			</ul>
		</center>
	</div>
	<div class="span5 home-icon">
		<center><%= image_tag 'users-grey.png' %>
		<h3>Manage Users</h3></center><br>
		<p id="home-p">Add users to your account, control access levels, and more. Our software supports contract printing, by allowing outside salesman to submit and view progress of their orders only.</p>
	</div>
	<div class="span5 home-icon">
		<center><%= image_tag 'multiple_devices.png' %>
		<h3>Produce locally, work globally</h3></center><br>
		<p id="home-p">Users of your account will enjoy the ability to access data onsite, around the corner, or around the globe. Any internet connected device can use our cloud-based software to keep your business running 24/7.</p>
	</div>
</div>
<div class="row footer">
	<div class="span5">
	</div>
	<div class="span3">
		Email
	</div>
	<div class="span3">
		Facebook
	</div>
	<div class="span3">
		Twitter
	</div>
</div>
<% end %>