<% if user_signed_in? %>
	<div class="row titlebar">
		<h1 class="pull-left">Dashboard</h1>
		<div class="pull-right titlebar-button-group">
			<%= link_to "New Order", new_order_path, class: "btn btn-info" %>
			<%= link_to "New Customer", new_customer_path, class: "btn btn-primary" %>
			<%= link_to "New User", new_user_path, class: "btn btn-success" %>
		</div>
	</div>
	<div class="row hero-unit">
		<div class="span3">
			<center><h1><%= current_user.account.orders.count %></h1><br>
			<h3><%= link_to "Orders", orders_path %></h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.account.customers.count %></h1></br><h3><%= link_to "Customers", customers_path %></h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.account.users.count %></h1><br><h3><%= link_to "Users", users_path %></h3></center>
		</div>
		<div class="span3">
			<center><h1><%= current_user.orders.count %></h1><br><h3>My Orders</h3></center>
		</div>
	</div>
<% else %>
<div class="home-nav" id="home-brand">
	<h3 class="pull-left center">Shirt Clerk</h3>
	<%= link_to 'Log In', new_user_session_path, class: "btn btn-success pull-right margin-top-seven" %>
</div>
<div class="center home-one">
	<h1>An Order Management tool for Printers</h1>
	<h4>Keep all of your information on one platform</h4>
	<%= link_to "Free Trial", new_account_path, class: "btn btn-primary btn-large" %>
</div>
<div class="row center footer">
		<%= mail_to "customerservice@shirtclerk.com" %>
		<%= link_to "@shirtclerk", "https://twitter.com/ShirtClerk" %>
	</div>
</div>
<% end %>