<div class="row address">
    <div class="span4">
    </div>
    <div class="span8">
        <div class="user-form-header">
            <center>Addresses</center>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
    </div>
    <div class="span8 user-form">
        <div class="row customer-form-row">
        	<div class="span1">
            </div>
            <div class="span4">
                <%= f.input :line_one, label: 'Street' %>
                <%= f.input :line_two, label: 'Apt/ Suite' %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
    </div>
    <div class="span8 user-form">
        <div class="row customer-form-row">
        	<div class="span1">
            </div>
            <div class="span2">
               <%= f.input :city, label: 'City' %>
            </div>
            <div class="span1">
            	<%= f.input :state, :collection => Address::STATE %>
            </div>
            <div class="span2">
            	<%= f.input :zip, label: 'Zip' %>
            	<%= f.hidden_field :customer_id %>
            </div>
        </div>
    </div>
</div>