<table>
	<tr>
		<th>Style</th>
		<th>Color</th>
		<th>XS</th>
		<th>S</th>
		<th>M</th>
		<th>L</th>
		<th>XL</th>
		<th>2XL</th>
		<th>3XL</th>
		<th>4XL</th>
		<th>5XL</th>
		<th>6XL</th>
	</tr>
	<tr class="well product-inputs">
		<td><%= f.text_field :style, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :color, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :xs, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :small, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :med, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :large, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :xl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :xxl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :xxxl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :ivxl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :vxl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.text_field :vixl, class: 'input-mini', id: 'product' %></td>
		<td><%= f.link_to_remove "", :class => "icon-remove" %></td>
		<td></td>
	</tr>
</table>