<div class="row">
	<div class="span2">
	</div>
	<div class="span12">
	        <%= f.input :style, label: 'Style' %>
	        <%= f.input :color, label: 'Color' %>
	        <%= f.input :xs, label: 'XS' %>
	        <%= f.input :small, label: 'S' %>
	        <%= f.input :med, label: 'M' %>
	        <%= f.input :large, label: 'L' %>
	        <%= f.input :xl, label: 'XL' %>
	        <%= f.input :xxl, label: '2XL' %>
	        <%= f.input :xxxl, label: '3XL' %>
	        <%= f.input :ivxl, label: '4XL' %>
	        <%= f.input :vxl, label: '5XL' %>
	        <%= f.input :vixl, label: '6XL' %>
	        <%= f.label :_destroy, "Remove Product" %>
		</div>
	</div>
</div>