<div class="row product-form">
	<div class="span12" id="product-inputs">
		<div class="product-input-string">
			<%= f.input :style, label: 'Style' %>
		</div>
		<div class="product-input-string">
			<%= f.input :color, label: 'Color' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :xs, label: 'XS' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :small, label: 'S' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :med, label: 'M' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :large, label: 'L' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :xl, label: 'XL' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :xxl, label: '2XL' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :xxxl, label: '3XL' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :ivxl, label: '4XL' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :vxl, label: '5XL' %>
		</div>
		<div class="product-input-integer">
			<%= f.input :vixl, label: '6XL' %>
		</div>
	</div>
</div><br>