<% if user_signed_in? %>
	<ul class="nav nav-pills nav-stacked span3 sidebar-nav-fixed">
	  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to image_tag('dashboard.png') + "Dashboard", root_path %></li>
	  <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to image_tag('order.png') + "Orders", orders_path %></a></li>
	  <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to image_tag('user.png') + "Users", users_path %></li>
	  <li class="<%= 'active' if current_page?(accounts_path) %>"><%= link_to image_tag('account.png') + "Accounts", accounts_path %></li>
	  <li class="<%= 'active' if current_page?(customers_path) %>"><%= link_to image_tag('customer.png') + "Customers", customers_path %>
	</ul>
<% else %>
<% end %>