<div class="sidebar pull-left center">
	<ul class="no-margin-left">
		<%= link_to root_path do %>
			<li>
				<%= image_tag 'dashboard.png' %>
				<br>
				Dashboard
			</li>
		<% end %>
		<%= link_to orders_path do %>
			<li>
				<%= image_tag 'orders.png' %>
				<br>
				Orders
			</li>
		<% end %>
		<%= link_to customers_path do %>
			<li>
				<%= image_tag 'customers.png' %>
				<br>
				Customers
			</li>
		<% end %>
		<%= link_to users_path do %>
			<li>
				<%= image_tag 'users.png' %>
				<br>
				Users
			</li>
		<% end %>
	</ul>
	<div class="row center trial-note">
		<% if current_user.account.trial_upgraded == false %>
			<h6>Trial</h6>
			<h1><%= (current_user.account.trial_end_date - Date.today).to_i %></h1>
			<h6 class="no-margin">End Date</h6>
		<% end %>
	</div>
</div>