<div class="sidebar span3 pull-left">
	<ul class="no-margin-left">
		<li><%= link_to image_tag('home.png') + "Dashboard", root_path %></li>
		<li><%= link_to image_tag('orders.png') + "Orders", orders_path %></li>
		<li><%= link_to image_tag('customers.png') + "Customers", customers_path %></li>
		<li><%= link_to image_tag('users.png') + "Users", users_path %></li>
	</ul>
	<div class="row center trial-note">
		<% if current_user.account.trial_upgraded == false %>
			<h1><%= (current_user.account.trial_end_date - Date.today).to_i %></h1>
			<h6 class="no-margin">Days left of Trial</h6>
		<% end %>
	</div>
</div>