<br><br><br>
<div class="row">
    <div class="span2">
    </div>
    <div class="span3">
        <%= simple_form_for(@account, html: {class: ''}) do |f| %>
            <%= f.error_notification %>
                <%= f.input :subdomain, label: 'Company Name' %>
                <%= f.fields_for :users do |builder| %>
                    <%= f.label :email %>
                    <%= text_field_tag :email, nil, :required => true, :autofocus => true %>
		            <%= f.label :password %>
                    <%= password_field_tag :password, nil, :required => true %>
		            <%= f.label :password_confirmation %>
                    <%= password_field_tag :password_confirmation, nil, :required => true %>
                    <%= hidden_field_tag :role, "accountadmin" %>
                <% end %>
                <% if f.object.new_record? %>
                    <%= f.submit "Create Account" %>
                <% else %>
                    <%= f.submit "Update Account" %>
                <% end %>
        <% end %>
    </div>